<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Resources.Get "icon.svg" }}<link rel="icon" href="{{ .RelPermalink }}" type="image/svg+xml">{{ end }}
    {{ with .Resources.Get "icon.png" }}<link rel="apple-touch-icon" href="{{ .RelPermalink }}" type="image/png">{{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/cosmo/bootstrap.min.css"
      integrity="sha384-dulfW0vmzZ638jigSgZXvDxMmd70GCnIv6oa+riKq6Kk4E0MKf7qmBfwP02wltv5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      integrity="sha384-Ay26V7L8bsJTsX9Sxclnvsn+hkdiwRnrjZJXqKmkIDobPgIIWBOVguEcQQLDuhfN" crossorigin="anonymous">
    {{ with .Resources.Get "css/style.csss" }}<link rel="stylesheet" href="{{ .RelPermalink }}" type="text/css">{{ end }}
    <script>
      (function() {
        function setTheme(mediaQuery) {
          document.documentElement.setAttribute('data-bs-theme',
            document.documentElement.style.colorScheme = mediaQuery.matches ? 'dark' : 'light');
        }
        const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
        setTheme(mediaQuery); mediaQuery.addEventListener('change', setTheme);
      })();
    </script>
  </head>

  <body>
    <div class="container visually-hidden-focusable">
      <a class="d-inline-flex p-2" href="#main">Skip to main content</a>
      <!-- {%- if navitem.startswith('manual') %} -->
      <!-- <a class="d-inline-flex p-2 m-1" href="#contents">Skip to table of contents</a> -->
      <!-- {%- endif %} -->
    </div>
    <header class="navbar navbar-expand-md sticky-top bg-body-tertiary d-print-none">
      <nav class="container-lg" aria-label="Page navigation">
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbar-collapse"
          aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle page navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/" aria-label="Top page">
          {{ with resources.Get "jq.svg" }}<img src="{{ .RelPermalink }}" alt="jq logo" style="height:1.5rem">{{ end }}
        </a>
        <div id="navbar-collapse" class="offcanvas offcanvas-start navbar-collapse w-auto" aria-labelledby="navbar-title">
          <div class="offcanvas-header">
            <h3 id="navbar-title" class="me-3">jq</h3>
            <button type="button" class="d-md-none btn-close" data-bs-dismiss="offcanvas" aria-label="Close page navigation"></button>
          </div>
          <ul class="offcanvas-body navbar-nav me-auto text-nowrap">
            {{- $currentPageURL := page.RelPermalink -}}
            <li class="nav-item d-md-none"><a class="nav-link{{ if (eq $currentPageURL "/") }} active{{ end }}" {{ if (eq $currentPageURL "/") }}aria-current="page"{{ end }} href="/">Top page</a></li>
            {{ range site.Menus.nav }}
            <li class="nav-item">
              <a class="nav-link{{ if (eq $currentPageURL .URL) }} active{{ end }}" {{ if (eq $currentPageURL .URL) }}aria-current="page"{{ end }} href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <!-- {%- if navitem.startswith('manual') %} -->
        <!-- <div class="container-searchbox form-control p-0 d-none d-md-flex d-print-none border" style="width:16rem"> -->
        <!--   <span class="bi bi-search my-auto ms-2 me-1" aria-hidden="true"></span> -->
        <!--   <input type="text" id="searchbox" class="form-control border-0 px-1" placeholder="Search manual" role="combobox" -->
        <!--     aria-label="Search manual" aria-keyshortcuts="/" aria-expanded="false" autocomplete="off" spellcheck="false"> -->
        <!--   <kbd class="mx-1 my-auto text-body bg-body rounded border" style="padding:.1rem .2rem" aria-hidden="true">/</kbd> -->
        <!-- </div> -->
        <!-- {%- endif %} -->
        <a class="d-md-none bi bi-github fs-4 text-body" href="https://github.com/jqlang/jq" target="_blank" rel="noopener" aria-label="GitHub"></a>
      </nav>
    </header>

    <main id="main" class="container-lg">
      <h1>{{ .Title }}</h1>

      {{- block "content" . -}}
      {{- end -}}
    </main>

    <footer class="bd-footer bg-body-tertiary">
      <div class="py-3 text-center">
        <p>
          This website is made with <a href="https://getbootstrap.com" target="_blank" rel="noopener">Bootstrap</a>,
          themed with <a href="https://bootswatch.com" target="_blank" rel="noopener">Bootswatch</a>.
        </p>
        <p>
          jq is licensed under the MIT license (code) and the
          <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">CC-BY-3.0</a> license (docs).
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
